/* Limpieza total de los estilos por defecto de Vite */
html, 
body, 
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Opcional: Asegurar que los componentes no hereden márgenes extraños */
*, *::before, *::after {
  box-sizing: inherit;
}


.custom-sf-table {
  font-size: 0.85rem; 
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

/* Encabezado Celeste */
.custom-sf-table thead th {
  background-color: #1589ee !important; 
  color: #ffffff !important;
  font-weight: bold;
  padding: 5px 8px;
  border: 1px solid #1589ee !important;
}

/* Bordes internos delgados y celdas compactas */
.custom-sf-table tbody td {
  padding: 6px 8px;
  border: 1px solid #d8ede3 !important; /* Borde interno */
  color: #333333;
}

/* Línea divisoria horizontal inferior en cada fila  */
.custom-sf-table tbody tr {
  border-bottom: 1px solid #a2d2f7 !important; /* Línea sutil celeste */
}

/* Color personalizado para los enlaces  */
.custom-sf-table a {
  color: #0176d3;
}
.custom-sf-table a:hover {
  text-decoration: underline !important;
}
